{% extends "base.html" %}

{% block title_head %}
Proyecto Final Crespo Py
{% endblock %}

{% block presentacion %}
<h1 class="mb-5">BIENVENIDOS</h1>
<h2>Web creada por Crespo Nicolas</h2>
<h3>Para la clase 60075 de CoderHouse Python</h3>
{% endblock %}

{% block main %}
<h1>
</h1>
<h2></h2>
<h2>Mi nombre es Nicolas Crespo. Alumno de la clase 60075</h2>
<h3>Tengo conocimientos en HTML, CSS, JS y actualmente me encuentro estudiando programacion en Python</h3>
<h1>.</h1>
<h1>.</h1>
<h1>.</h1>
<h3>Para comenzar presione algunas de los icono del footer</h3>
{% endblock %}
