{% extends "base.html" %}
{% load static %}
{% block title_head %}
Segundo template
{% endblock %}

{% block main %}
<h1>
    Segundo Template, funcionando
</h1>
<h2>{{fecha_actual}}</h2>
<ul>
<li>Esto es una li de ul DESORDENADA</li>
</ul>
<ol>
<li>Esto es una li de ol ORDENADA</li>
</ol>
<p>LISTADOS -> Con {}%% puedo usar funciones de python y entre {} se usan variables</p>
<ul> 
{% for num in numeros  %}
<li>{{num}}</li>
{% endfor%}
</ul>
<img src={% static "assets/img/testimonials-3.jpg" %} alt="">
{% endblock %}




